* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #23424a;
}

.wrapper {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 5em 0;
}

.content {
  width: 60%;
}

h1 {
  color: #fff;
}

h1 {
  font-size: 2.8rem;
  margin-bottom: 0.6em;
}

p {
  font-size: 1.3rem;
  font-weight: lighter;
  color: #ffffffd9;
}

a {
  display: inline-block;
  padding: 1em 1.5em;
  background-color: #38cfd9;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  margin-top: 4em;
}
